@import "./bootstrap-5.3.8/scss/utilities";
@import "./bootstrap-5.3.8/scss/variables";
@import "./bootstrap-5.3.8/scss/utilities";

$font-sizes: map-merge(
  vars.$font-sizes,
  (
    7: 0.875rem,
    8: 0.75rem,
    9: 0.625rem,
    10: 0.5rem,
  )
);

$border-widths: map-merge(
  vars.$border-widths,
  (
    6: 6px,
    7: 7px,
    8: 8px,
    9: 9px,
    10: 10px,
  )
);

$btn-padding-y: 0.75rem;
$btn-padding-x: 2.5rem;

$grid-gutter-width: 0.5rem;

$new-theme-colors: (
  danger: #ff0077,
  info: #00ffea,
    light: #f3eeff,
);
$theme-colors: map-merge($theme-colors, $new-theme-colors);
$new-color-map:(
     epicode-1: #5726c3, 
     epicode-2: #8625a5, 
     epicode-3: #cb2376
);

$new-color-map: map-merge($color-map, $new-color-map);
$new-grid-breakpoints: (
  3xl: 1600px,
    4xl: 1800px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $new-grid-breakpoints);
@import "./bootstrap-5.3.8/scss/bootstrap";
